.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  /* background-image: url('https://www.flaticon.com/free-icons/phonebook'); */
}

.title {
  font-weight: 500;
  font-size: 48;
  text-align: center;
  color: #f2e8e9;}